body {
    background-color: #f4f7f6;
    font-family: calibri;
}

header {
    width: 100%;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

header nav {
    flex: 1;
    justify-content: start;
    padding-left: 10px;
}

header h1 {
    flex: 3;
    display: flex;
    justify-content: center;
}

header #profile-picture-container {
    flex: 1;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

header #profile-picture {
    border-radius: 50%;
}

#menu-icon {
  font-size: 1.8rem;
}

#menu-icon {
    display: block;
    cursor: pointer;
}

nav {
    height: 2.25em;
    width: 100%;
    display: flex;
}

nav ul {
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    background: #181818;
    width: 95%;
    padding: 1rem;
    margin-left: 0;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

nav ul.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

nav li {
    list-style: none;
    float: left;
    margin-right: 1.875em;
}

main {
    width: 100%;
    text-align: center;
}

.row-add-activity {
    display: grid;
    justify-content: center;
    margin: 0;
}

.row-add-activity > .col {
    margin: 10px auto;
}

@media screen and (max-width: 767px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .col-1, .col-2, .col {
        margin: 5px auto;
        display: flex;
        flex-direction: column;
    }
    .col-3 {
        margin: 25px auto;
    }
    .row-add-activity {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        width: 80vw;
        margin: 20px auto;
    }
    .col-1 {
        flex: 1 50%;
        text-align: center;
    }
    .col-2 {
        flex: 2 50%;
        text-align: center;
    }
    .col {
        flex: 1 100%;
        text-align: center;
    }
    .col-3 {
        display: flex;
        align-items: center;
    }
    .row-add-activity {
        width: 50vw;
        margin: auto;
        display: grid;
        justify-content: center;
    }
    .activities .row {
        width: 50vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .activities label {
        width: 150px;
    }
    .activities select {
        width: 150px;
    }
    .activities textarea {
        width: 80%;
    }
    .activities .row:has(h4) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .row {
        width: 50vw;
    }
    .activities .row {
        width: 50vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .activities label {
        width: 150px;
    }
    .activities select {
        width: 150px;
    }
    .activities textarea {
        width: 80%;
    }
    .activities .row:has(h4) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1400px) {
    .activities .row {
        width: 30vw;
    }
}

label {
    width: 270px;
    display: inline-block;
    text-align: left;
}

input, select, textarea, button {
    background-color: rgb(242, 244, 247);
    border: 1px solid #000000;
    border-radius: 10px;
    width: 250px;
    padding: 5px 10px;
    margin-top: 5px;
}

input, select {
    height: 30px;
}

input[type=submit] {
    background-color: rgb(35, 47, 55);
    color: #FFFFFF;
    height: 40px;
}

select {
    background-color: #f4f7f6;
    border: 0px solid black;
}

#period-from-hint, #period-to-hint, #department-hint, #e-mail-of-supervisor-hint, #repeat-email-of-supervisor-hint {
    text-align: left;
    color: red;
    height: 15px;
    width: 270px;
    display: inline-block;
}

.col-1 input, .col-1 div {
    display: inline-block;
    width: 250px;
}

hr {
    width: 50vw;
    border-top: 1px;
}

textarea {
    resize: vertical;
    font-size: 14px;
}

nav a {
    color: white;
    text-decoration: none;
}

a {
    color: black;
}

.add-activity {
    display: flex;
    border: solid rgb(35, 47, 55);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: rgb(35, 47, 55);
    margin-top: 1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}